extends master

block content
  .container
    .row(ng-controller="boxOfficeController")
      h3 Help
      span /// using class demo locally

      h4 1.
        | Visit 
        a(href="http://developer.rottentomatoes.com/") rotten tomatoes api 
        | to obtain a developer api key

      h4 2.
        | Use the api key in the config.json

        pre 
          | {
          |   "api": {
          |     "base": "http://api.rottentomatoes.com/api/public/v1.0",
          |     "key": "your_api_key_goes_here"
          |   }
          | }


